<div class="container">
  <div class="row row-content" ng-controller="DishDetailController">
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{{dish.image}}" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{dish.name}}</h4>
          {{dish.description}}
        </div>
      </div>
    </div>
    <div class="col-xs-9 col-xs-offset-1">
      <blockquote ng-repeat="comment in dish.comments | orderBy:sortField">
        <p>{{comment.comment}} ({{comment.rating}} out of 5 stars)</p>
        <footer>{{comment.author}}, {{comment.date | date}}</footer>
      </blockquote>
      Sort by (author, date, rating):
      <input type="text" ng-model="sortField">
    </div>
    <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
      <h3>Add a comment!</h3>
      <ul class="list-unstyled">
        <blockquote ng-class="{ 'hidden' : !commentForm.$valid || commentForm.$pristine }">
          <p>{{comment.comment}} ({{comment.rating}} out of 5 stars)</p>
          <footer>{{comment.author}}, {{date | date }}</footer>
        </blockquote>
      </ul>
      <form name="commentForm" class="form-horizontal" ng-submit="commentForm.$valid && submitComment()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
          <label for="nameid" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="nameid" placeholder="Name" ng-model="comment.author" required>
            <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Name is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
          <label for="comment" class="col-sm-2 control-label">Your Comment</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="comment" name="comment" rows="4" ng-model="comment.comment" placeholder="(e.g. Loved this dish! Fantastic for every meal of the day!)" required></textarea>
            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Comment required.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="rating" class="col-sm-2 control-label">Rating</label>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input type="radio" name="rating" ng-model="comment.rating" ng-value="1">1</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="rating" ng-model="comment.rating" ng-value="2">2</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="rating" ng-model="comment.rating" ng-value="3">3</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="rating" ng-model="comment.rating" ng-value="4">4</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="rating" ng-model="comment.rating" ng-value="5">5</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button ng-class="{ 'disabled' : !commentForm.$valid }" type="submit" class="btn btn-primary">Add Comment</button>
          </div>
        </div>
        <!-- task 1 and 2 -->
      </form>
    </div>
  </div>
</div>
